.adventure-item {
    flex-basis: 240px;
    margin: 0 0 2rem;
    padding-right: 14px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.adventure-item > a {
    text-decoration: none;
}

.adventure-items {
    display: flex;
    list-style: none;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: normal;
}

.adventure-item-details {
    display: flex;
    justify-content: flex-start;
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    column-gap: 8px
}

.adventure-item-details>div {
    display: flex;
    align-items: center
}

.adventure-item-details>:not(.adventure-item-price) {
    border: 1px solid #696969;
    text-transform: capitalize
}

.adventure-item-details .adventure-item-price {
    background: #141414;
    color: #fff
}

.adventure-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin-bottom: 7px;
}

.adventure-item-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}